/*
    Makes the page scroll smoothly.
    Scrolling by clicking a link will leave an
    offset so the header doesn't hide the title 
*/
html {
    scroll-behavior: smooth;
    scroll-padding-top: 8em;
}


/* Background color, font and font color */
body {
    font-family: 'Roboto', sans-serif;
    color: #ebebeb;
    background-color: #1b1b1b;
}

/* Responsive font */
h1 {
    font-size: 2rem;
}
@media (max-width: 768px) {
    h1 {
        font-size: 1.75rem;
    }
}
@media (max-width: 480px) {
    h1 {
        font-size: 1.5rem;
    }
}

p {
    font-size: 1rem;
}
@media (max-width: 480px) {
    p {
        font-size: 0.9rem;
    }
}


a {
    text-decoration: underline;
    color: #ebebeb;
}

a:hover {
    font-weight: bold;
    color: #141414;
}



/* Header settings */
header {
    font-weight: bold;
    background: #141414;
    padding: 0.5em;
    padding-left: 5%;
    border-radius: 10px;
    position: sticky;
    top: 0;
    z-index: 99;
    box-shadow: 7px 7px 7px #0a0a0a8e;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: calc(min(max(8px, 0.8vw + 6px), 18px));

}

.header-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 5%;
}

/* Header navigation bar settings */
nav a {
    text-decoration: none;
    color: #ebebeb;
    padding: 0.75vw;
}

.header-nav a:hover {
    background: #284e93;
    border-radius: 1em;
}




/* Area where everything will be contained */
.textArea {
    background-color: #284e93;
    width: 75%;
    border-radius: 15px;

    padding: 1.5em;

    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;

    font-size: calc(min(max(12px, 1vw + 10px), 18px));
    box-shadow: 7px 7px 7px #0a0a0a67;
    text-align: justify;
}

/* Title of the section */
.article-title {
    margin: auto;
    font-size: calc(min(max(24px, 1.7vw + 19px), 32px));
}

.indented-1 {
    margin-left: 1em;
    margin-right: 1em;
}

.textArea h2 {
    text-align: left;
    justify-content: left;
}
.h2 {
    font-size: calc(min(max(24px, 1.5vw + 15px), 30px));
}


/* Projects settings and tags */
.tags {
    line-height: 3em;
    margin-top: -1.25em
}

.tags-es,
.tags-en,
.tags-sdl2,
.tags-cpp,
.tags-js,
.tags-phaser3,
.tags-html,
.tags-css,
.tags-unity,
.tags-csharp {
    font-size: calc(min(max(9px, 0.8vw + 6px), 13px));

    font-weight: bold;
    border-radius: 1em;;
    padding: 0.75em;
    margin-right: 0.25em;

    box-shadow: 3px 3px 3px #0a0a0a67;
    text-shadow: 2px 0 #000, -2px 0 #000, 0 2px #000, 0 -2px #000,
    1px 1px #000, -1px -1px #000, 1px -1px #000, -1px 1px #000;
}
.tags-es {
    background: url(../resources/images/es-flag.png)  ;
    background-size: 100%;
}
.tags-en {
    background: url(../resources/images/eng-flag.png) ;
    background-size: 100%;
}
.tags-sdl2 {
    background: #52525ebb;
}
.tags-cpp {
    background: #1e3d77bb;
}
.tags-js {
    background: #d1bc00c9;
}
.tags-phaser3 {
    background: #08ddddbb;
}
.tags-html {
    background: #f55207d5;
}
.tags-css {
    background: #003cffbb;
}
.tags-unity {
    background: #161616c0;
}
.tags-csharp {
    background: #7c00a1bb;
}


.game-info {
    display: grid;
    grid-template-columns: minmax(0%, 1fr) minmax(55%, 1fr);
    gap: 10px; /* Add some space between columns */
}

@media (max-width: 768px) {
    .game-info {
        display: flex;
        flex-direction: column;
        align-items: stretch;
    }
    .game-info > div:nth-child(1) {
        width: 100%;
        padding: 10px;
    }
    .game-info > div:nth-child(2) {
        width: 100%;
        padding: 10px;
    }
}

.description {
    margin-left: 1em;
    margin-right: 1.5em;
    max-width: 90%;
}

.trailer, .slide {
    max-width: 100%;
}

.highlights {
    text-align: left;
}

.game-separator {
    width: 100%;
    margin-top: 3em;
}


/* Legend and names of the skills */
.legend {
    float: right;
    margin-top: -2em;
}


/* Images and names of the skills */
.skill-items {
    width: 100%;
    /* margin-left: 2em; */
    /* font-size: medium; */
    line-height: 2.5em;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    margin-bottom: 2em;
}
.item {
    text-align: center;
}
.item-name {
    /* font-size: calc(min(max(8px, 0.8vw + 6px), 18px)); */
    font-size: 85%;
    width: fit-content;
    max-width: 90%;
    font-weight: bold;
    
    border-radius: 1em;
    line-height: 1.5em;
    padding: 0.75em;

    margin-top: 0.5em;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    vertical-align: middle;

    background: #1a1a1a69;
    box-shadow: 3px 3px 3px #0a0a0a67;
    text-shadow: 2px 0 #000, -2px 0 #000, 0 2px #000, 0 -2px #000,
    1px 1px #000, -1px -1px #000, 1px -1px #000, -1px 1px #000;
}


.logo-img {
    max-width: 35%;
    padding-top: 0.3em;
}
/* Reduce max-width for smaller screens */
@media (max-width: 768px) {
    .logo-img {
        max-width: 25%; /* Reduced from 35% to 25% */
    }
}


/* 
DEPRECATED

.level-basic,
.level-intermediate,
.level-advanced {
    font-weight: bold;
    font-size: small;
    border-radius: 10px;
    line-height: 2em;
    padding: 0.75em;

    box-shadow: 3px 3px 3px #0a0a0a67;
    
}

.level-basic,
.item-name-basic {
    background: #6eac0b69;
}

.level-intermediate,
.item-name-intermediate {
    background: #e9c9127c;
}

.level-advanced,
.item-name-advanced {
    background: #ad100598;
}

.item-name-basic,
.item-name-intermediate,
.item-name-advanced {
    font-size: calc(min(max(12px, 1vw + 10px), 18px));    
    width: fit-content;
    max-width: 70%;
    border-radius: 20px;
    line-height: 1.5em;
    padding: 0.75em;
    padding-top: 0.75em;
    padding-bottom: 0.75em;

    margin-top: 0.25em;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    vertical-align: middle;

    box-shadow: 3px 3px 3px #0a0a0a67;
} 
*/


/* 
Languages toggle 
From: https://codepen.io/TorabRamin/pen/mqrBBj
*/
.langs {
    position: fixed;
    bottom: 1em;
    display: inline-block;
    margin-left: 1%;
    margin-bottom: 1%;
}
.langs>span {
    position: absolute;
    top: 0.9em;
    pointer-events: none;
    font-weight: bold;
    font-size: 12px;
    text-transform: uppercase;
    text-shadow: 0 1px 0 rgba(0, 0, 0, .06);
    width: 50%;
    text-align: center;    
}
input.check-toggle-round-flat:checked~.off {
    color: #284e93;
}
input.check-toggle-round-flat:checked~.on {
    color: #fff;
}
.langs>span.on {
    left: 0;
    padding-left: 2px;
    color: #284e93;
}
.langs>span.off {
    right: 0;
    padding-right: 4px;
    color: #fff;
}
.check-toggle {
    position: absolute;
    margin-left: -9999px;
    visibility: hidden;
}
.check-toggle+label {
    display: block;
    position: relative;
    cursor: pointer;
    outline: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
input.check-toggle-round-flat+label {
    padding: 2px;
    width: 97px;
    height: 35px;
    background-color: #284e93;
    -webkit-border-radius: 60px;
    -moz-border-radius: 60px;
    -ms-border-radius: 60px;
    -o-border-radius: 60px;
    border-radius: 60px;

    box-shadow: 3px 3px 3px #0a0a0a67;

}
input.check-toggle-round-flat+label:before,
input.check-toggle-round-flat+label:after {
    display: block;
    position: absolute;
    content: "";
}
input.check-toggle-round-flat+label:after {
    top: 4px;
    left: 4px;
    bottom: 4px;
    width: 48px;
    background-color: #fff;
    -webkit-border-radius: 52px;
    -moz-border-radius: 52px;
    -ms-border-radius: 52px;
    -o-border-radius: 52px;
    border-radius: 52px;
    -webkit-transition: margin 0.2s;
    -moz-transition: margin 0.2s;
    -o-transition: margin 0.2s;
    transition: margin 0.2s;
}
input.check-toggle-round-flat:checked+label:after {
    margin-left: 44px;
}




/* Footer settings */
.footer-area {
    position: fixed;
    width: 100%;
    bottom: 0;
}

.copyright-separator {
    width: 100%;
    color: #ebebeb;
}

.copyright {
    background: #0e0e0e;
    color: #ebebeb;
    padding: 0.5em 0;
    font-size: calc(min(max(12px, 1vw + 10px), 18px));
    text-align: center;

    display: flex;
    align-items: center;
    justify-content: center;
}





/*
Image slideshows
from: https://codepen.io/ilhamsanusi/pen/XQyvZG 
*/

* {box-sizing: border-box}
/* Add as many styles as slideshows in the page */
.slides1, .slides2, .slides3 {
    display: none;
    width: 100%;
}
img {vertical-align: middle;}

.slideshow-container {
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    margin-top: -0.5em;
    padding-bottom: 0.15em;

    width: auto;
    font-weight: bold;
    font-size: 150%;
    transition: 0.3s ease;

    color: #ebebeb;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.284);
    background-color: rgba(255, 255, 255, 0);
    border: none;
    border-radius: 20%;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
}

/* On hover, add a grey background color */
.prev:hover,
.next:hover {
    background-color: #ebebeb7c;
    color: #1b1b1b;
}